<h1>Listing products</h1>

<table>
  <tr>
    <th>Companyname</th>
    <th>Address</th>
    <th>Webaddress</th>
    <th>Photo</th>
    <th></th>
    <th></th>
  </tr>

<% @products.each do |product| %>
  <tr>
    <td><%= product.companyName %></td>
    <td><%= product.Address %></td>
    <td><%= product.webAddress %></td>
    <td><%= image_tag product.photo.url(:small) %></td>
    <td><%= link_to 'Show', product %></td>
    <td><%= link_to 'Edit', edit_product_path(product) %></td>
    <td><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Product', new_product_path %>
